
#bottom-BorderPane{
	-fx-background-image:url('../../../resource/systemImage/mainUiImages/background.jpg') ;
}

.usercase-buttons{

    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , white , 10, 0 , 0 , 5 );
}

.usercase-buttons:hover{
	 -fx-background-color: 
        linear-gradient(#f2f2f2, #f6f6f6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    	linear-gradient(#f2f2f2 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , white , 10, 0 , 0 , 5 );
}

.usercase-buttons:pressed{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , white , 10, 0 , 0 , 5 );
}
